.DS_Store
.env
.ipynb_checkpoints
.pytest_cache
.vscode
Pipfile.lock

app/api/submission_db.sqlite3
app/api/subreddit_db.sqlite3
app/api/apidb.py
app/api/gbnlp_pickle
app/api/knnpickle
app/api/namedf.pkl
app/api/praw_db.py